/* Yan Menü */

.sidebar {
  position: fixed;
  top: 0;
  left: -250px; /* Başlangıçta gizli */
  width: 250px;
  height: 100vh;
  background-color: #303031f1;
  transition: left 0.3s ease;
  z-index: 1000;
  padding-top: 80px;
  border-radius: 7px;
}

.sidebar.open {
  left: 0; /* Sidebar açıldığında solda görünür */
}

.sidebar.close {
  left: -250px;
}

.sidebar .nav-link {
  padding-top: 1.2rem;
  color: #f5ecec !important;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: large;
  text-decoration: none;
  letter-spacing: 0.3rem;
  transition: all 300ms;
}

.sidebar-arrow {
  position: fixed;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  background-color: rgba(48, 48, 48, 0.726);

  color: white;
  border: none;
  transition: left 0.3s ease;
  cursor: pointer;
  z-index: 1050;
  transition: all 300ms;
  border-radius: 0 7px 7px 0;
}

.sidebar-arrow.open {
  left: 250px;
}

.sidebar-arrow:hover {
  background-color: #4e4e4ede;
}

.sidebar-arrow .sidebar-arrow-icon {
  font-size: 2em;
  color: white;
}

.menu-content-desktop > ul > li > a.nav-link:hover {
  color: orange !important;
}
/* Mobildeki Menü */
@media (max-width: 991px) {
  .sidebar {
    display: none; /* Mobilde yan menü gizlenir */
  }

  .sidebar-arrow.d-none {
    display: none; /* Ok işareti mobilde gizlenir */
  }

  .top-menu {
    display: block;
    position: sticky;
    top: 0;
    z-index: 1000;
    /* Mobilde üst menü görünür */
  }

  .top-menu .sidebar-arrow {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
    z-index: 1050;
    background-color: black;
    width: 100%;
  }

  .sidebar-arrow .sidebar-arrow-icon {
    font-size: 2em;
    color: white;
  }

  .sidebar-arrow.d-none {
    display: none; /* Menü açıldığında ok işareti kaybolur */
  }

  .menu-content {
    position: fixed;
    top: 60px;
    left: 0;
    width: 100%;
    background-color: #e5eaf0d0;
    transform: translateY(-100%); /* Gizli başlangıç */
    transition: transform 0.3s ease-in-out; /* Yumuşak geçiş */
    z-index: 1000;
  }

  .menu-content.open {
    transform: translateY(0); /* Görünür hale gelir */
  }
  .menu-content > ul > li > a.nav-link {
    color: black !important;
    font-family: "Roboto", sans-serif;
    font-size: large;
    font-weight: bold;
    transition: all 300ms;
    letter-spacing: 0.5rem;
  }

  .menu-content > ul > li > a.nav-link:hover {
    color: rgba(160, 80, 6, 0.712) !important;
    transition: all 300ms;
  }

  .content-area {
    margin-top: 0 !important;
  }
}

/* Masaüstü için ok işareti */
@media (min-width: 992px) {
  .sidebar-arrow {
    display: block; /* Masaüstünde ok işareti görünsün */
  }
  .top-menu {
    display: none;
  }
}

/* favorite icon animation classes */

.favorite-icon {
  width: 24px;
  height: 24px;
  transform: rotate(220deg) scale(1); /* Hem döndür hem başlangıç boyutunda tut */
  transition: all 0.7s ease-in-out; /* Animasyon süresi ve tipi */
}

.favorite-icon.animate {
  transform: rotate(260deg) scale(1.2); /* Döndürmeyi koru ve %20 büyüt */
}

/* favorite icon animation classes */

.img-movie {
  min-height: 210px;
  min-width: 210px;
  max-height: 210px;
  max-width: 210px;
  object-fit: "cover";
  border-radius: 3;
}
